.title {
  text-align: center;
}

.main__title {
  /*mobile only*/
  text-align: center;
}

@media (min-width: 550px) {
  .intro{
    margin-top: 25%
  }
  .main__title {
    text-align: left;
  }
}

.poster {
  margin-top: 12.5%;
  border-radius: 11%;
  overflow: hidden;
}

.poster__img {
  width: 100%;
}
